@import "utils/fonts";
@import "utils/variables";

* {
 	font-family: "PlayfairDisplay";
	color: $font-color-primary;
}

.login_body {

}

.form {
	height: 100vh;
	background-color: $primary;
}

.heading {
	top: 1.4em;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 3;
	
	.heading_title {
		font-size: $heading-font-size;
		font-family: "GreatVibes";
	}

	.logo {
		z-index: 2;
		width: 25%;
		align-self: center;
	}
}

.background_container {
	position: relative;

	.background {
		position: relative;
		width: 100%;
		overflow: hidden;
		z-index: 1;
		max-height: 70vh;
		overflow: hidden;
		object-fit: cover;
	}

	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(	
							to bottom,
							rgba(0,0,0,0),
							rgba($primary, 1) 90%);
		width: 100%;
		height: 60px;
	}
}

.input_container {
	width: 100%;
	height: 30vh;
	bottom: 0;
	position: absolute;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.input_card{
		width: 60%;
		text-align: center;
		padding: 8px;
		border-radius: 0.5em;
		display: contents;
		
		.input_label {
			padding: 8px;
			font-size: 24px;
			width: $login-card-widths;
			font-size: $content-font-size;
		}
	
		.input {
			all: unset;

			margin: 8px;
			padding: 8px;
			border-bottom: 1px solid $accent;
			font-size: $content-font-size;
			width: $login-card-widths
		}
	
		.button {
			all: unset;

			color: $font-color-inverse;
			background-color: $accent;
			width: $login-card-widths;
			padding: 8px;
			border-radius: 4px;
			border: 1px solid $font-color-lighter;
			font-size: $content-font-size;
		}
	}
}