@import "utils/variables";
@import "utils/fonts";

.table {
	margin-bottom: 8px;
}

.row_head {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding: 16px 0;

	& .heading_row_cell {
		text-align: center;
		width: 25%;
	}
	
	& .row_data_cell {
		display: flex;
		justify-content: center;
		width: 25%;
		align-self: flex-end;

	}

	&.heading {
		font-size: 14px;
		border-bottom: 1px solid grey;
	}

	&.data {
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);
	}
}

.icon {
	width: 24px;
	height: 24px;
}

.food_notes {
	all: unset;

	border: 1px solid black;
	width: 100%;
	height: 60px;
	word-wrap: break-word;
	padding: 4px;
	border-radius: 4px;
	box-sizing: border-box;
}

.key {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	opacity: 50%;

	& .key_block {
		display: flex;
		flex-direction: row;
		width: 40%;
		justify-content: center;

		
		& .key_icon {
			width: 24px;
			height: 24px;
		}

		& .key_text {
			padding: 0 8px;
		}
	}

}

.save_button {
	all: unset;

	position: absolute;
	padding: 5px 10px;
	border: 1px solid grey;
	border-radius: 4px;
	color: grey;
	background-color: $primary;
	
	bottom: 10px;
	right: 10px;

}