@font-face {
	font-family: "GreatVibes";
	src: local("GreatVibes"), 
		url("~/src/fonts/GreatVibes.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "PlayfairDisplay";
	src: local("PlayfairDisplay"),
		url("~/src/fonts/PlayfairDisplay.ttf") format("truetype");
	font-weight: normal;
}