//Colours
$primary: rgb(240, 225, 139);
$secondary: rgb(130,113,145);
$accent: rgba(1,53,76,255);
$error: rgb(230, 89, 89);

$font-color-primary: rgb(0, 0, 0);
$font-color-lighter: lighten($font-color-primary, .3);
$font-color-inverse: white;

$toggle-off-color: lighten($secondary, 5%);
$toggle-on-color: lighten($primary, 5%);
$disabled-color: rgb(201, 201, 201);
$toggle-center-color: $disabled-color;

//Widths
$login-card-widths: 30vw;
$heading-font-size: 15vw;
$content-font-size: 4vw;