$primary: rgb(240, 225, 139);
$secondary: rgb(130,113,145);
$accent: rgba(1,53,76,255);
$error: rgb(230, 89, 89);

$font-color-primary: rgb(0, 0, 0);
$font-color-lighter: lighten($font-color-primary, .3);
$font-color-inverse: rgba(226,215,204,255);