@import "utils/variables";

.navDiv {
	width: 100%;
	height: 3rem;
	background-color: $primary;
	display: flex;
	justify-content: center;
}

// Items
.itemDiv {
	&, &.menuOpen, &.menuClosed {
		position: absolute;
		display: flex;
		margin-top: 2rem;
		width: 100%;
		background-color: $primary;
		flex-direction: column;
		transition: all .3s ease;
		user-select: none;
		cursor: pointer;
	}

	&.menuOpen {
		top: -2rem;
	}
	
	&.menuClosed {
		top: -100%;
	}
}


.navItem {
	all: unset;

	width: calc(100% - 40px);
	padding: 10px;
	margin: 10px;
	text-align: center;

	&:hover {
		background-color: darken($primary, 5%);
	}
}

.logo {
	width: 2.5em;
	height: auto;
	margin: .25em auto;
}
