.navDiv {
	width: 100%;
	height: 3rem;
	background-color: rgb(133, 133, 133);
}

// Items
.itemDiv {
	&, &.menuOpen, &.menuClosed {
		position: absolute;
		display: flex;
		margin-top: 2rem;
		width: 100%;
		background-color: rgb(131, 131, 131);
		flex-direction: column;
		transition: all .3s ease;
		user-select: none;
		cursor: pointer;
	}

	&.menuOpen {
		top: 0;
	}
	
	&.menuClosed {
		top: -100%;
	}
}


.navItem {
	width: calc(100% - 40px);
	padding: 10px;
	margin: 10px;
	text-align: center;
}
