@import 'utils/fonts';
@import 'utils/variables';

.layout {
	width: 90%;
	max-width: 800px;
	display: flex;
	flex-direction: column;

	margin: 0 auto;
	overflow-x: hidden;

	&.mobile {
		min-width: 300px;
	}

	&.desktop {
		min-width: 600px;
	}
}

.pageHeading {
	width: 95%;
	text-align: center;
	font-size: $heading-font-size;
	margin: 0 auto;
	margin-top: 10px;

	font-family: 'GreatVibes';
}

.contentContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.contentInner {
	text-align: justify;
}

.contentInnerImage {
	max-width: 100%;
	margin: 8px 0;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: black;
	margin-bottom: 16px;
}

.imageContainer {
	margin: 16px 0;
}

.expandableImage {
	width: 100%;
}

.expandedOuter {
	&.visible {
		&::before {
			content: "";
			display: block;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 99;
			background-color: rgba(0, 0, 0, 0.9);
		}
	}
}

.expandedImage {
	width: 100%;
	max-width: 900px;
	position: fixed;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	
	&.visible {
		display: block;
	}

	&.hidden {
		display: none;
	}
}