@import 'utils/fonts';
@import 'utils/variables';

.layout {
	width: 80%;
	display: flex;
	flex-direction: column;

	margin: 0 auto;
}

.pageHeading {
	width: 100%;
	text-align: center;
	font-size: $heading-font-size;
	margin-top: 10px;

	font-family: 'GreatVibes';
}

.contentContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.contentInner {
	text-align: justify;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: black;
	margin: 10px 0;
}